// Define variables for your color scheme

// Brand colors
$teal: #3B9797;
$dark-blue: #16476A;
$red: #BF092F;

// Assign to common names
$primary-color: $dark-blue;
$secondary-color: $teal;
$accent-color: $red;

// Additional colors
$blue: $dark-blue;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
